html {
  position: relative;
  min-height: 100%;
}

body {
	/*background-color: aliceblue;*/
  background-color: #E9F5FF;
	opacity: 0.9;
  /*margin: 0px;*/
  /*margin-bottom: 100px;*/
}

#querynotes {
  padding: 0px 14rem 0px 14rem;
  /*margin: 0px 4px 0px 4px;*/
  /*color: green;*/
}

*.jumbotron {
  background-color: #E9ECEF;
  margin: 2rem 15rem 2rem 15rem;
  padding: 4.5rem 15rem 4.5rem 15rem;
  border-radius: 25px 25px 25px 25px;
  /*outline-style:  dashed;*/
}


/* Disables the Arrows from Number Inputs on Form */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


/*DEBUGGING CONTAINER/ROW/COLUMN POSITIONING*/

/** {
  outline-style:  dashed;
}
*/

/*[class*="col-"] {
  outline-style:  dotted;
  outline-color: red;
}

.row {
  outline-style:  dotted;
  outline-color: green;
}*/