<!-- Info -->
{% extends "base.html" %}
{% set active_page = "about" %}
{% block title %}Cesium Database About{% endblock %}

{% block content %}

<div class="my-4 mx-8 py-4 container d-flex align-items-center">
	<article class="about">
		<h1 class="about-title">About Cesium Database</h1>
		<p class="about-meta text-muted">Sauro Lab, University of Washington</p>

		<p>Welcome to the CesiumDB website. This is a community resource that primarily stores conceptual simulation models of biochemical pathways. Existing databases such as Biomodels store models of real biology systems but no database exists for storing conceptual models.</p>

		<br>
		<h2>What are conceptual models?</h2>

		<p>A conceptual model is a model that illustrates some basic physical phenomenon. In this case cesiumdb will store models that illustrate particular properties and behaviors of biochemical pathways. As an illustration, a common behavior is oscillatory dynamics. We currently store many hundreds of models that exhibit oscillatory behavior. For the future we intend to expand the repository to other kinds of models that exhibit behaviors such as biostability, amplifiers, switches, etc. In addition, we will also make available canonical models such as linear chains, branches and cycles.</p>

		<p>Models are downloaded in readable <a href="http://antimony.sourceforge.net/">Antimony</a> format which can be easily convert to standard <a href="https://sbml.org/">SBML</a> and loaded into a wide range of modeling software. Such software includes tools like <a href="https://github.com/sys-bio/tellurium">Tellurium</a>, <a href="https://github.com/PySCeS/pysces">PySCeS</a>, <a href="https://copasi.org/">COPASI</a>, <a href="https://vcell.org/">VCell</a>, <a href="https://github.com/MyersResearchGroup/iBioSim">iBioSim</a>, and many others. The models can also be converted to languages such as MATLAB using the <a href="https://synonym.caltech.edu/software/converters/">SBML Converters</a>.</p>

		<br>
		<h2>Credits</h2>

		<dl>
			<dt>oscillatorDB - Lillian Tatka</dt>
			<dd><a href="https://github.com/really-lilly/oscillatorDB">github.com/really-lilly/oscillatorDB</a></dd>

			<dt>cesium - Wesley Luk</dt>
			<dd><a href="https://github.com/WesleyyL/cesium">github.com/WesleyyL/cesium</a></dd>
		</dl>

		<p>Supervised by Herbert Sauro</p>
		<!-- <p>Sauro Lab, University of Washington</p> -->

		<br><br>
		<hr>
		<p>If you find an issue or have any questions, let Wesley know via <a href="https://github.com/WesleyyL/cesium">Github</a></p>
	</article>
</div>


{% endblock %}

