<!-- Info -->
{% extends "base.html" %}
{% set active_page = "" %}
{% block title %}Cesium DB Download File{% endblock %}

{% block content %}
  <h1 align="center">Download File</h1>
   <div class="container" align="center">
    <a href="{{ url_for('download_file', filename=filename) }}" target="_blank"><button class='btn btn-default'>Download Zip File</button></a>
    <br><br>
    <a href="/" target="_self"><button class='btn btn-default'>Download Another File</button></a>
   </div>

   <br>

   <h2>Query Values Debug:</h2>
   <p> Nodes: {{ query['nodes'] }} </p>
   <p> Reactions: {{ query['reac'] }} </p>
   <p> Oscillation?: {{ query['osc'] }} </p>
   <p> Autocatalysis?: {{ query['autocat'] }} </p>
   <p> Degradation?: {{ query['degrade'] }} </p>
 {% endblock %}