Info -->
{% extends "base.html" %}
{% set active_page = "" %}
{% block title %}Cesium DB Error{% endblock %}

{% block content %}

<div class="my-4" align="center">
	<h1>Error:</h1>
	<br>

	<div class="alert alert-danger" role="alert">
		{{error_msg}}
	</div>
	<br><br>

	<!-- <p>{{ error_msg }}</p> -->
	<a href="/" target="_self"><button class='btn btn-outline-dark'>Return Home</button></a>
</div>

{% endblock %}

<!-- <script>
	$(document).ready(function(){
		$(".active").removeClass("active");
		$("#link-guide").addClass("active");
	});
</script>