<!-- Info -->
{% extends "base.html" %}
{% set active_page = "index" %}
{% block title %}Oscillator DB Home{% endblock %}

{% block content %}

<h1>Oscillator Database:</h1>

<form>
	<label for="num_nodes">Number of Nodes:</label>
	<input type="text" id="num_nodes" name="num_nodes"><br><br>

	<label for="num_reactions">Number of Reactions:</label>
	<input type="text" id="num_reactions" name="num_reactions"><br><br>

	<label for="oscillator">Does the model oscillate?</label>
	<select id="oscillator" name="oscillator">
		<option value="osc_yes">Yes</option>
		<option value="osc_no">No</option>
	</select><br><br>

	<label for="autocatalysis">Autocatalysis?</label>
	<select id="autocatalysis" name="autocatalysis">
		<option value="catalysis_yes">Yes</option>
		<option value="catalysis_no">No</option>
	</select><br><br>

	<label for="oscillator">Degradation?</label>
	<select id="degradation" name="degradation">
		<option value="degrade_yes">Yes</option>
		<option value="degrade_no">No</option>
	</select><br><br>

	<input type="submit" value="Download Models">
</form>

{% endblock %}

<!-- <script>
	$(document).ready(function(){
		$(".active").removeClass("active");
		$("#link-index").addClass("active");
	});
</script> -->
